:root{
    --brand-clr: rgb(47, 228, 44);
    --select-clr: #55D6BE;
    --err-clr: #cc0606;
}

#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(1);
    /* filter: FlipH; */
}

#camera--trigger{
    width: 30%;
    background-color: var(--brand-clr);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 2% 0%;
    text-align: center;
    box-shadow: 0px 1px 0.5px 0.5px rgba(53, 53, 53, 0.15);
    font-size: 2.5rem;
    position: fixed;
    bottom: 7%;
    left: calc(50% - 15%);
}

#camera--trigger i{
    font-size: 4rem;
}

.taken{
    height: 400px!important;
    width: 400px!important;
    transition: all 0.5s ease-in;
    border: solid 3px var(--brand-clr);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: calc(50% - 200px);
    right: calc(50% - 200px);
    z-index: 2;
}