@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,800');


:root{
    --brand-clr: rgb(47, 228, 44);
    --select-clr: #55D6BE;
    --err-clr: #cc0606;
}

html{
    height: 100%;
}
body {
    height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: linear-gradient(90deg, rgba(66,246,132,1) 0%, rgba(39,230,159,1) 100%);
}

.signinContainer{
    height: 100vh;
}

.registerContainer{
    height: 100vh;
    display: none;
}

input, button {
    font-family: 'Roboto', sans-serif;
}

.contentForm {
    width: 70%;
    margin: 0 auto;
    padding: 10%;
    /* margin-top: 25%; */
    border-radius: 5px;
    z-index: 2;
    
}

.contentForm h3{
    font-size: 7em;
    font-weight: 800;
    margin-bottom: 30%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.contentForm p{
    margin-top: 15%;
    margin-bottom: 15%;
    padding-left: 4%;
    font-size: 2.5em;
    font-weight: 400;
    color: rgba(255,255,255, 0.7);
    cursor: pointer;
}

.contentForm .inputLabel{
    font-size: 1.8rem;
    color: var(--err-clr);
    font-family: 'Roboto', sans-serif;
}

.signinContainer .contentForm .inputInvalid{
    border-bottom: 3px solid var(--err-clr); 
}

.registerContainer .contentForm .inputInvalid{
    border-bottom: 3px solid var(--err-clr); 
}

.contentForm .inputbox{
    display: block;
    border: none;
    border-bottom: 3px solid #fff;
    background: rgba(255,255,255,0);
    padding: 5%;
    margin-bottom: 10%;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    font-size: 2.5rem;

}

.contentForm ::placeholder{
    color: rgba(255,255,255, 0.9);
}

.contentForm .inputbox:focus{
    border-bottom: 3px solid var(--select-clr);    
}




.contentForm button{
    cursor: pointer;
    background: #fff;
    color: var(--brand-clr);
    /* border: 1px solid var(--brand-clr); */
    border: none;
    border-radius: 5px;
    padding: 5%;
    display: block;
    margin: 0 auto;
    width: 60%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    box-shadow: 0px 1px 0.5px 0.5px rgba(53, 53, 53, 0.15);
    font-size: 2.5rem;
    margin-bottom: 7%;
    text-transform: uppercase;
}

.contentForm button:hover{
    background: #fff;
    color: var(--brand-clr);
    box-shadow: 0px 4px 3px 3px rgba(53, 53, 53, 0.15);
    /* border: 1px solid var(--brand-clr); */

}

@media screen and (min-width: 1000px){

    body{
        background: linear-gradient(90deg, rgba(66,246,132,1) 0%, rgba(39,230,159,1) 100%);
    }

    .signinContainer{
        background: linear-gradient(90deg, rgba(66,246,132,1) 0%, rgba(39,230,159,1) 100%);
    }

    .contentForm{
        background: #fff;
        border-radius: 10px;
        width: 35%;
        margin-top: 0%;
        margin-top: 20%;
        bottom:15%;
        /* margin-top: 10%; */
    }

    .contentForm h3{
        padding-top: 0;
        margin-top: 0;
        font-size: 4em;
        color: var(--brand-clr);
    }

    .contentForm p{
        content: "";    
    }

    .contentForm input{
        display: block;
        border: none;
        border-bottom: 1px solid var(--brand-clr);
        /* border: 1px solid var(--brand-clr); */
        /* border-radius: 5px; */
        background: #fff;
        padding: 15px;
        outline: none;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 7%;
        font-size: 1em;
        color: #000;
    }

    
.contentForm .inputbox{
    display: block;
    border: none;
    border-bottom: 3px solid var(--brand-clr);
    background: rgba(255,255,255,0);
    padding: 5%;
    margin-bottom: 10%;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    font-size: 2.5rem;

}

    .contentForm ::placeholder{
        color: rgba(0,0,0, 0.7);
    }

    

    .contentForm button{
        cursor: pointer;
        background: var(--brand-clr);
        color: #fff;
        font-size: 1em;
        border: 1px solid var(--brand-clr);
        border-radius: 5px;
        padding: 15px;
        display: block;
        width: 100%;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        box-shadow: 0px 3px 2px 2px rgba(53, 53, 53, 0.15);
    }

    .registerContainer{
        background: #fff;
    }
    #regFname{
        margin-bottom: 40%;
    }
    /* .registerContainer ::placeholder{
        color: rgba(0,0,0,0.7);
    } */
}