@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root{
    --brand-clr: rgba(103, 216, 101, 0.85);
}

*, 
*::before, 
*::after{
    box-sizing: border-box;
}

body {
	margin: 0;
	background: #bdbdbd;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

/* .content {
  height: 200vh;
  background-image: url(//unsplash.it/1000/1000);
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  /* place-items: center; */
/* } */

/* Start of Nav Styling */

header {
    background: var(--brand-clr);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    /* height: 5%; */
}

.nav-toggle {
    display: none;
}

.logo{
    color: #fff;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span:before,
.nav-toggle-label span:after{
    display: block;
    background: #fff;
    height: 2px;
    width: 2em;
    position: relative;

}

.nav-toggle-label span:before,
.nav-toggle-label span:after{
    content: '';
    position: absolute;
}

.nav-toggle-label span:before{
    bottom: 10px;
}

.nav-toggle-label span:after{
    top: 10px;
}

/* .nav-toggle-label span:hover{
    background: #000;
} */

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #fff;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    /* margin-left: 1em; */
    margin-left: 2.5%;
}

nav .profile {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--brand-clr);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    margin-top: 1em;
    margin-bottom: 0.5rem;
}

nav .sectionTitle{
    color: #bdbdbd;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    padding-top: 15px;
}

nav .notFirst {
    border-top-color: #bdbdbd;
    border-top-style: solid;
    border-top-width: 1px;
}

nav a{
    cursor: pointer;
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;

}

nav a:hover{
    color: var(--brand-clr);
}

.nav-toggle:checked ~ nav{
    transform: scale(1, 1);
    background: white;  
    box-shadow: 0px 3px 2px 2px rgba(53, 53, 53, 0.15);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked ~nav .profile{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked ~ nav .sectionTitle{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/* @media screen and (min-width: 1000px){
    .nav-toggle-label{
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }

    .logo{
        grid-column: 2 / 3;
    }

    nav{
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul{
        display: flex;
    }

    nav li{
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a{
        opacity: 1;
        position: relative;
    }

    nav a::before{
        content: '';
        height: 3px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        border-radius: 2px;
        transform-origin: left;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }
} */

/* End of Nav Styling */

/* #main h1{
    text-align: center;
    color: #bdbdbd;
} */
